# Logs
logs
*.log

# vitest coverage
.coverage

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env.*
!.env.example

# React output
dist

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# vuepress build output
.vuepress/dist

# vuepress v2.x temp and cache directory
.temp
.cache

# vitepress build output
**/.vitepress/dist

# vitepress cache directory
**/.vitepress/cache

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.DS_Store
pnpm-lock.yaml
.turbo